<nav class="top-bar">
  <h1>Goals</h1>
  <ul class="nav-list">
    <li>login</li>
  </ul>
</nav>

<main>
  <section>
    <h2>Weekly Goals</h2>
    <ul class="collection">
      {{goal-card name="Pushups" completedQuantity=10 goalQuantity=25 type="week" completedWeeks=5}}
    </ul>
  </section>

  <section>
    <h2>January Goals</h2>
    <ul class="collection">
      {{goal-card name="Build Portfolio" completed=true completedDate="January 12th, 2018"}}

      {{goal-card name="Brush Teeth" completedQuantity=20 goalQuantity=30}}
    </ul>
  </section>
</main>
